@import 'node_modules/antd/dist/antd.less';
@primary-color: #07A745;
@link-color: #07A745;

body {
	max-width: 960px;
	margin: auto;
}
.ant-layout-header {
    padding: 0;
}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active, .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab-active{
    background: #f0f2f5;
}
.ant-tabs-tab{
    background: #f8f8f8;
}
.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active, .ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab-active {
    border-top-color: #e1e1e1;
    border-left-color: #e1e1e1;
    border-right-color: #e1e1e1;
    border-bottom-color: #f0f2f5;
}